@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

// -------

@import "../../node_modules/bulma/sass/utilities/derived-variables";

$primary: $white-ter;
$red: #ff4c70;

// -------

@import "../../node_modules/bulma";
@import "../../node_modules/bulma-switch";

a, a:focus, a:active {
	color: $blue;
}
